<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Toggler/collapsible Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
			<li class="nav-item" {%if activePage == "home"%}class="active"{%endif%} ><a class="nav-link" href='.'>Home</a></li>
			<li class="nav-item" {%if activePage == "len-n-dist"%}class="active"{%endif%} ><a class="nav-link" href="len-n-dist">Length and Distance</a></li>
			<li class="nav-item" {%if activePage == "currency"%}class="active"{%endif%} ><a class="nav-link" href="currency">Currency</a></li>
      <li class="nav-item" {%if activePage == "time"%}class="active"{%endif%} ><a class="nav-link" href="time">Time</a></li>
      <li class="nav-item" {%if activePage == "weight"%}class="active"{%endif%} ><a class="nav-link" href="weight">Weight</a></li>
      <li class="nav-item" {%if activePage == "planets"%}class="active"{%endif%} ><a class="nav-link" href="planets">Planets</a></li>
    </ul>
  </div>
</nav>
